.app {
  position: relative; /* Ensure relative positioning for absolute positioning within */
}

.image-slider-container {
  position: relative; /* Ensure relative positioning for absolute positioning within */
}

.product-array-overlay {
  position: absolute; /* Position the ProductArray absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 12rem;
}

/* Additional styles for ProductArray can go here */